// light theme color scheme
$light-font-color: #000;
$light-bg-color: rgb(243, 243, 243);
$light-secondary-color: rgba(25, 26, 30, .4);
$light-link-color: #DF9D3F;

// Dark theme color scheme
$dark-font-color: #fff;
$dark-secondary-color: rgba(211, 220, 255, .4);
$dark-link-color: #DF9D3F;
$dark-bg-color: #171717;