main
{   position: relative;
    min-height: calc(100vh - 28px);
    nav
    {
        position: fixed!important;
        top:0;
        width:100%;
        z-index: 99;
        background: transparent;
        
        
        .navbar-brand img
        {
            max-width: 1.5em;
        }
        .ham-nav-item
        {
            display: flex;
        }
        .ham-icon1,.ham-icon2
        {
            width: 25px;
            height: 3px;
            background-color:#4060b5;
            margin: 2px 0;
            border-radius: 10px;
            transition: 0.5s ease-in-out;
            
        }
        .nav-item
        {
            cursor: pointer;
        }
        .nav-item:hover>.icon-div>
        .ham-icon1{
            // background-color: violet;
            transform: translate(-5px,0px);
            transition: 0.5s ease-in-out;
        }
        .nav-item:hover>.icon-div>
        .ham-icon2{
            background-color:black;
            transform: translate(5px,0px);
            transition: 0.5s ease-in-out;
        }
        .main-menu li
        {
            padding: 0px 5px;
            list-style: none;
            a
            {
                font-weight: bold;
                text-transform: uppercase;
                color: #6790ff;
                text-decoration: none;
                transition: 0.5s ease-in-out;
                i
                {
                    padding: 0px 5px; 
                }

                &:hover
                {
                    color:black
                }
            }
            
        }
        .scroll-time-menu
        {
            position: fixed;
            right: 0;
            top: 50%;
            transform: translate(0px,-50%);
            li.scroll-time-menu-items
            {
                padding: 20px 15px;
                list-style: none;
                background-color: #4060b5;
                border:2px solid white;
                text-transform: uppercase;
                transform: translate(20em,0px);
                transition: 0.5s ease-in-out;

                &.change
                {
                    transform: translate(5.5em,0px);
                    transition: 1s ease-in-out;
                }
                &:first-child
                {
                    border-radius: 15px 0px 0px 0px;
                }
                &:last-child
                {
                    border-radius: 0px 0px 0px 15px;
                }
                
                &:hover
                {
                    transform: translate(0px,0px)!important;
                    transition: 0.5s ease-in-out;
                }
                
                a
                {
                    i
                    {
                        padding:0px 15px
                    }
                    color: white;
                }
            }
        }
      
    }
    .faded-text-background
    {
        position: absolute;
        top:25%;
        left: 25%;
        text-transform: uppercase;
        transform: rotate(-90deg);
        z-index: 99;
        color:#6790ff;
        font-weight: 700;
        font-size:15em;
        margin:5% 0px;
        // display: none;
        opacity: 0;
        // transition: 2s ease-in; 
        
     
       
    }

    #left-hero
    {
    
    width:0px;
    flex:0 0 0%;
    // transition: 2s ease-in;
    background-color: #4060b5;
    }
    

    
    @keyframes fastIn {
        0%
        {
            opacity: 0;
        }
        100%
        {
            opacity: 1;
        }
    }
    
        

       
    .hero-section
    {
        height:100vh;
    }
}




// JS classes

.ham-icon1.change
{
    transform: rotate(-45deg) translate(0px, 5px);
    background-color: black;
    pointer-events: none;
}
.ham-icon2.change
{
    transform: rotate(45deg) translate(0px, -5px);
    background-color: black;
    pointer-events: none;
   
}

.ham-nav-item.change
{
    &:hover>.icon-div>
    .ham-icon1
    {
        transform: rotate(-45deg) translate(0px, 5px);
    }
    &:hover>.icon-div>
    .ham-icon2
    {
        transform: rotate(45deg) translate(0px, -5px);
    }
}


