@font-face {
    font-family: 'silkaregular';
    src: url('../fonts/silka-regular-webfont.eot');
    src: url('../fonts/silka-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/silka-regular-webfont.woff2') format('woff2'),
         url('../fonts/silka-regular-webfont.woff') format('woff'),
         url('../fonts/silka-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'silkaregular_italic';
    src: url('../fonts/silka-regularitalic-webfont.eot');
    src: url('../fonts/silka-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/silka-regularitalic-webfont.woff2') format('woff2'),
         url('../fonts/silka-regularitalic-webfont.woff') format('woff'),
         url('../fonts/silka-regularitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}





body
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    // background-color: #191A1E!important;
    font-family: 'silkaregular'!important;
}

main
{   position: relative;
    min-height: calc(100vh - 28px);
    nav
    {
        position: fixed!important;
        top:0;
        width:100%;
        z-index: 99;
        background: transparent;
        opacity: 0;
        .navbar-nav
        {
            display: none;
        }
        
        .navbar-brand img
        {
            max-width: 1.5em;
        }
        .ham-nav-item
        {
            display: flex;
        }
        .ham-icon1,.ham-icon2
        {
            width: 25px;
            height: 4px;
            background-color:#df9d3f;
            margin: 2px 0;
            border-radius: 10px;
            transition: 0.5s ease-in-out;
            
        }
        .nav-item
        {
            cursor: pointer;
        }

        
        .nav-item:hover>.icon-div>
        .ham-icon1{
            // background-color: violet;
            transform: translate(-5px,0px);
            transition: 0.5s ease-in-out;
        }
        .nav-item:hover>.icon-div>
        .ham-icon2{
            background-color:black;
            transform: translate(5px,0px);
            transition: 0.5s ease-in-out;
        }
        .Available_projects_p
        {
            transform: translateX(13.5em);
        }
        #navbarNav
        {
            max-width:474px;
            width:100%;
        }
        .main-menu
        {
            display: flex;
            justify-content: space-between;
            padding: 0px;
        }
        .main-menu li
        {
            padding: 0px 5px;
            list-style: none;
            a
            {
                font-weight: bold;
                text-transform: uppercase;
                color: black;
                text-decoration: none;
                transition: 0.5s ease-in-out;
                position: relative;
                transition: ease-in-out 0.5s;
                &::after
                {
                    height:5px;
                    width:0%;
                    content: "";
                    position: absolute;
                    margin-top:2px;
                    top:100%;
                    left:0px;
                    background-color: #df9d3f;
                    transition: ease-in-out 0.5s;
                    border-radius: 15px;
                }
                &.active::after
                {
                    height:5px;
                    width:50%;
                    content: "";
                    position: absolute;
                    margin-top:2px;
                    top:100%;
                    left:0px;
                    background-color: #df9d3f;
                    transition: ease-in-out 0.5s;
                    border-radius: 15px;
                }
                &.active:hover::after
                {
                    width: 100%;
                    transition: ease-in-out 0.5s;
                }
                &:hover::after
                {
                    width: 50%;
                    transition: ease-in-out 0.5s;
                }
                i
                {
                    padding: 0px 5px; 
                }

                &:hover
                {
                    color:black
                }
            }
            
        }
        .scroll-time-menu
        {
            position: fixed;
            right: 0;
            top: 50%;
            transform: translate(0px,-50%);
            li.scroll-time-menu-items
            {
                padding: 20px 15px;
                list-style: none;
                background-color: #df9d3f;
                border:2px solid white;
                text-transform: uppercase;
                transform: translate(20em,0px);
                transition: 0.5s ease-in-out;

                &.change
                {
                    transform: translate(6em,0px);
                    transition: 1s ease-in-out;
                }
                &:first-child
                {
                    border-radius: 15px 0px 0px 0px;
                }
                &:last-child
                {
                    border-radius: 0px 0px 0px 15px;
                }
                
                &:hover
                {
                    transform: translate(0px,0px)!important;
                    transition: 0.5s ease-in-out;
                }
                
                a
                {
                    i
                    {
                        padding:0px 15px
                    }
                    color: white;
                }
            }
        }
      
    }
    .hero-section
    {
        height:100vh;
        position: relative;
        text-align: center;

        .translate_div
        {
            height:100vh;position: relative;
            background-color: #191A1E;
            flex:0 0 100%;
        }

        .hero-div
        {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            opacity: 0;

            #web_dev_tag
            {
                font-size: 12px;
                line-height: 30px;
                font-family: "silkaregular";
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 2px;
                color: rgba(25,26,30,.4);
                margin-bottom: 5px;
            }

            .hero_copy_line
            {
                font-size: 54px;
                line-height: 72px;
                margin:0 0 40px;
                font-weight: 700;
            }

            .workbtn

            {
                height: 60px;
                // background: #191a1e;
                // color: #fff;
                display: inline-block;
                padding: 30px 55px 30px 55px;
                line-height: 0;
              
                position: relative;
                border: 0px;
                background: #df9d3f;
                color:#3b2e1c;
                text-transform: uppercase;
                border-radius:30px;
                font-weight: 700;
                -webkit-box-shadow: 0 10px 20px -6px #777;
                -moz-box-shadow: 0 10px 20px -6px #777;
                box-shadow: 0 10px 20px -6px #777;
                &::after {
                    background: #fff;
                    content: "";
                    height: 155px;
                    left: -75px;
                    opacity: .2;
                    position: absolute;
                    top: -50px;
                    transform: rotate(35deg);
                    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
                    width: 50px;
                    z-index: 9;
                }
                
                
                &:hover{
                    background-color: #b98e4d;
                    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
                }
            }

          
        }
        .slide_more_btn
        {
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translate(-50%, 0px);
            animation: updown 3s;
            animation-iteration-count:infinite;
        }

       

    }
    
    .left-social-links
    {
        width: 40px;
        position: fixed;
        bottom: 0px;
        left: 40px;
        right: auto;
        z-index: 10;
        opacity: 0;
        ul
        {
            display: flex;
            flex-direction: column;
            -webkit-box-align: center;
            align-items: center;
            margin: 0px;
            padding: 0px;
            list-style: none;
            li
            {
                a
                {
                    color:black;
                    font-size: 24px;
                    transition: 0.2s ease-in-out;
                    &:hover
                    {
                        transform: translateY(50px);
                        transform: scale(1.5);
                        color:#df9d3f;
                        transition: 0.2s ease-in-out;
                    }
                }
            }
            &::after
            {
                content: "";
                display: block;
                width: 3px;
                height: 90px;
                margin: 0px auto;
                background-color: black;
            }
        }

    }

    .right-mail-link
    {
        width: 40px;
        position: fixed;
        bottom: 0px;
        left: auto;
        right: 40px;
        z-index: 10;
        opacity: 0;
        div
        {
            display: flex;
            flex-direction: column;
            -webkit-box-align: center;
            align-items: center;
            position: relative;
            
            a
            {
                margin: 20px auto 0px;
                padding: 10px;
                
                font-size: 12px;
                font-weight: 700;
                letter-spacing: 0.1em;
                -webkit-writing-mode: vertical-rl;
                writing-mode: vertical-rl;
                color: black;
                transition: 0.2s ease-in-out;

                &:hover
                {
                    text-decoration: none;
                    color:#797773;
                    transition: 0.2s ease-in-out;
                    transform: translateY(-5px);
                }
                
            }

            &::after
                {
                    content: "";
                    display: block;
                    width: 3px;
                    height: 90px;
                    margin: 0px auto;
                    background-color: black;
                }

           

        }
    }
    

    #about-section
    {   
        max-width: 900px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        .about_heading
        {
            position: relative;
            &::after
            {
                content: " ";
                width:100%;
                max-width: 480px;
                height: 3px;
                background-color: #df9d3f;
                position: absolute;
                top:50%;
                margin-left:15px
            }
        }

        .row
        {
            .abt-img
            {
                z-index:0;
                img
                {
                    max-width:250px;
                }
                &::after
                {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border: 5px solid #df9d3f;
                    left: 50%;
                    top: -15px;
                    z-index: -1;
                }
            }
        }
    }
}


@keyframes updown {
    from
    {
        transform: translateY(-50px);
    }

    to
    {
        transform: translateY(0%);
    }
}


// JS classes

.ham-icon1.change
{
    transform: rotate(-45deg) translate(0px, 5px);
    background-color: black;
    pointer-events: none;
}
.ham-icon2.change
{
    transform: rotate(45deg) translate(0px, -5px);
    background-color: black;
    pointer-events: none;
   
}

.ham-nav-item.change
{
    &:hover>.icon-div>
    .ham-icon1
    {
        transform: rotate(-45deg) translate(0px, 5px);
    }
    &:hover>.icon-div>
    .ham-icon2
    {
        transform: rotate(45deg) translate(0px, -5px);
    }
}

// Responsive CSS classes

@media screen and  (max-width:1500px)
{
    main
    {
        .faded-text-background
    {
        font-size:10em;
        left:28%;
    }
    } 
}

@media (max-width:768px)
{
    #left-hero
    {
        flex:0 0 100%!important;
    }
}
