@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'silkaregular';
    src: url('../fonts/silka-regular-webfont.eot');
    src: url('../fonts/silka-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/silka-regular-webfont.woff2') format('woff2'),
        url('../fonts/silka-regular-webfont.woff') format('woff'),
        url('../fonts/silka-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'silkaitalic';
    src: url('../fonts/silka-regularitalic-webfont.eot');
    src: url('../fonts/silka-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/silka-regularitalic-webfont.woff2') format('woff2'),
        url('../fonts/silka-regularitalic-webfont.woff') format('woff'),
        url('../fonts/silka-regularitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

// @font-face {
//     font-family: 'silka_thin';
//     src: url('../fonts/silka-thin-webfont.eot');
//     src: url('../fonts/silka-thin-webfont.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/silka-thin-webfont.woff2') format('woff2'),
//         url('../fonts/silka-thin-webfont.woff') format('woff'),
//         url('../fonts/silka-thin-webfont.ttf') format('truetype');
// }

// @font-face {
//     font-family: 'silka_extralight';
//     src: url('../fonts/silka-extralight-webfont.eot');
//     src: url('../fonts/silka-extralight-webfont.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/silka-extralight-webfont.woff2') format('woff2'),
//         url('../fonts/silka-extralight-webfont.woff') format('woff'),
//         url('../fonts/silka-extralight-webfont.ttf') format('truetype');
// }

// @font-face {
//     font-family: 'silka_light';
//     src: url('../fonts/silka-light-webfont.eot');
//     src: url('../fonts/silka-light-webfont.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/silka-light-webfont.woff2') format('woff2'),
//         url('../fonts/silka-light-webfont.woff') format('woff'),
//         url('../fonts/silka-light-webfont.ttf') format('truetype');
// }

// @font-face {
//     font-family: 'silka_medium';
//     src: url('../fonts/silka-medium-webfont.eot');
//     src: url('../fonts/silka-medium-webfont.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/silka-medium-webfont.woff2') format('woff2'),
//         url('../fonts/silka-medium-webfont.woff') format('woff'),
//         url('../fonts/silka-medium-webfont.ttf') format('truetype');
// }

// @font-face {
//     font-family: 'silka_regular';
//     src: url('../fonts/silka-regular-webfont.eot');
//     src: url('../fonts/silka-regular-webfont.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/silka-regular-webfont.woff2') format('woff2'),
//         url('../fonts/silka-regular-webfont.woff') format('woff'),
//         url('../fonts/silka-regular-webfont.ttf') format('truetype');
// }

// @font-face {
//     font-family: 'silka_semibold';
//     src: url('../fonts/silka-semibold-webfont.eot');
//     src: url('../fonts/silka-semibold-webfont.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/silka-semibold-webfont.woff2') format('woff2'),
//         url('../fonts/silka-semibold-webfont.woff') format('woff'),
//         url('../fonts/silka-semibold-webfont.ttf') format('truetype');
// }

// @font-face {
//     font-family: 'silka_bold';
//     src: url('../fonts/silka-bold-webfont.eot');
//     src: url('../fonts/silka-bold-webfont.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/silka-bold-webfont.woff2') format('woff2'),
//         url('../fonts/silka-bold-webfont.woff') format('woff'),
//         url('../fonts/silka-bold-webfont.ttf') format('truetype');
// }

// @font-face {
//     font-family: 'silka_black';
//     src: url('../fonts/silka-black-webfont.eot');
//     src: url('../fonts/silka-black-webfont.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/silka-black-webfont.woff2') format('woff2'),
//         url('../fonts/silka-black-webfont.woff') format('woff'),
//         url('../fonts/silka-black-webfont.ttf') format('truetype');
// }

//  Theme definitions
//  Learned from Dmitry Borody
//  https: //medium.com/@dmitriy.borodiy/easy-color-theming-with-scss-bc38fd5734d1


$themes: (light: (backgroundColor: rgb(243, 243, 243),
        textColor: #000,
        secondaryColor: rgba(25, 26, 30, .4),
        linkColor: #DF9D3F,
    ),
    dark: (backgroundColor: #171717,
        textColor: #fff,
        secondaryColor: rgba(211, 220, 255, .4),
        linkColor: #DF9D3F,
    ),
);

@mixin themify($themes) {

    @each $theme,
    $map in $themes {
        .theme-#{$theme} & {
            $theme-map: () !global;

            @each $key,
            $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }

            @content;
            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}

// at-root[data-theme="light"] {
//     body {
//         $font-color: #000;
//         $bg-color: rgb(243, 243, 243);
//         $secondary-color: rgba(25, 26, 30, .4);
//         $link-color: #DF9D3F;
//     }

// }


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    // font-family: 'silka_regular';
    font-family: "Bebas Neue",
        sans-serif;
    font-weight: 400;
    font-style: normal;
}

body,
html {
    height: 100%;
    width: 100%;
    // background-image: radial-gradient(#e5e7eb 1px, transparent 0);
    background-size: 16px 16px
}



main {
    position: relative;
    // min-height: calc(100vh - 28px);
    // font-family: silka_regular';
    // width: 100%;

    @include themify($themes) {
        color: themed('textColor');
        // background-color: themed('backgroundColor');
    }

    .line_container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        overflow: hidden;

        svg {
            display: inline-block;
            height: 100%;
        }
    }

    #mainloader {
        background-color: #0c0c0c;
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: 1;
        overflow: hidden;
        font-size: 3.125em;

        .maintitle {

            color: #df9d3f;
            font-family: silkaregular;
            font-weight: 900;


            .reveal {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;

                .parent {
                    display: block;
                    overflow: hidden;

                    .child {
                        display: block;
                    }
                }
            }

            .reveal1 {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;

                .parent {
                    display: block;
                    overflow: hidden;

                    .child {
                        display: block;
                    }
                }
            }

            .reveal2 {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;

                .parent {
                    display: block;
                    overflow: hidden;

                    .child {
                        display: block;
                        // background-color: red;
                    }
                }
            }
        }
    }

    #brownpage {
        position: absolute;
        background-color: #df9d3f;
        top: 100%;
        height: 0px;
        width: 100%;
        z-index: 1;
        overflow: hidden;
        // display: none;
    }


    .follow_cursor {
        width: 30px;
        height: 30px;

        @include themify($themes) {
            border: 2px solid themed('textColor');
        }

        // border: 2px solid $font-color;
        border-radius: 50%;
        position: fixed;
        display: none;
        transition-duration: 100ms;
        transition-timing-function: ease-out;
        pointer-events: none;
        z-index: 3;

        ::after {
            content: "";
            width: 20px;
            height: 20px;
            position: absolute;
            border: 8px solid gray;
            border-radius: 50%;
            opacity: .5;
            top: -8px;
            left: -8px;
            animation: cursorAnim2 .5s infinite alternate;
        }
    }

    .nav-container {
        position: sticky;
        top: 0;
        width: 100%;
        opacity: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
        z-index: 9999;
        // background-color: $bg-color;

        @include themify($themes) {
            // background-color: themed('backgroundColor');
        }

        &.Scrolled {
            @include themify($themes) {
                background-color: themed('secondaryColor');
            }

            transition: background-color 0.4s ease-in-out;

        }

        .nav-brand {
            // margin-left: calc(50vw - 910px);
            margin-left: 40px;
            position: relative;
            z-index: 1;
            height: 100%;
            width: 100%;
            max-width: 60px;
        }

        // .hamburger {
        //     margin-right: calc(50vw - 910px);
        //     z-index: 1;

        // .nav-icon {
        //     display: flex;
        //     flex-direction: column;
        //     height: 20px;
        //     justify-content: space-between;
        //     width: 30px;
        //     align-items: flex-end;

        //     .nav-icon__line {
        //         @include themify($themes) {
        //             background-color: themed('textColor');
        //             box-shadow: 0 1px 1px themed('textColor');
        //         }

        //         // background-color: font-color;
        //         // box-shadow: 0 1px 1px font-color;
        //         height: 2px;
        //         pointer-events: none;
        //         transition: transform .5s cubic-bezier(.7, 0, 0, 1);
        //         width: 100%;

        //         &:nth-child(2) {
        //             width: 75%;
        //         }
        //     }
        // }

        .nav-links {
            font-family: silkaregular;

            @include themify($themes) {
                color: themed('textColor');
            }

            // -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
            // clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
            display: flex;
            flex-direction: row;
            gap: 30px;
            // position: absolute;
            // right: 90px;
            // top: 13px;
            // transition: -webkit-clip-path .5s cubic-bezier(.7, 0, 0, 1);
            // transition: clip-path .5s cubic-bezier(.7, 0, 0, 1);
            // transition: clip-path .5s cubic-bezier(.7, 0, 0, 1),
            // -webkit-clip-path .5s cubic-bezier(.7, 0, 0, 1);

            a {
                font-family: silkaregular;
                background: none;
                border: none;
                z-index: 9;

                @include themify($themes) {
                    color: themed('textColor');
                }

                font-size: 16px;
                font-weight: 700;
                letter-spacing: 2px;
                margin: 0;
                padding: 30px;
                position: relative;
                text-decoration: none;
                // text-shadow: 0 2px 5px rgba(0, 0, 0, .2);
                // text-transform: uppercase;

                &:hover {
                    @include themify($themes) {
                        color: themed('linkColor');
                    }
                }
            }
        }

        // }

        div.mode_changer {
            display: flex;
            position: relative;
            right: 40px;
            flex-direction: column;
            align-items: flex-start;
            //  transform: translateX(-5px);
            //  margin-right: calc(100vw - 50px);

        }
    }

    .hero-section {
        // height: calc(100vh - 95px);
        height: 100vh;
        position: relative;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateY(-10%);

        .first_hero {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            opacity: 0;

            #player {
                // width: 100%;
                // height: 100%;
                max-width: 990px;
                max-height: 300px;
                // margin-left: 2.5em;
            }

            q {
                @include themify($themes) {
                    color: themed('secondaryColor');
                }

                a {
                    text-decoration: none;
                    font-size: calc(0.35em + 0.390625vw);

                    @include themify($themes) {
                        color: themed('secondaryColor');
                    }

                    &:hover {
                        text-decoration: none;

                        @include themify($themes) {
                            color: themed('linkColor');
                        }

                        transition: 0.3s ease-in-out;
                    }
                }
            }
        }


        .hero-div {
            margin-top: 2em;
            width: 100%;
            opacity: 0;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            align-self: center;
            // height: 50%;
            row-gap: 2em;

            .copy_section {
                max-width: 62em;
                // margin-left: 8em;
                // margin-right: 8em;


                #web_dev_tag {
                    font-size: calc(0.25em + 0.390625vw);
                    line-height: 30px;
                    font-weight: 500;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-family: silkaregular;

                    @include themify($themes) {
                        color: themed('secondaryColor');
                    }

                    // color: $secondary-color;
                    margin-bottom: 1em;
                    cursor: default;
                    position: relative;
                    z-index: 2;

                    // &::after {
                    //     background: #2beb2b;
                    //     content: "";
                    //     height: 28%;
                    //     position: absolute;
                    //     transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
                    //     width: 1%;
                    //     top: 3px;
                    //     left: 57.5%;
                    //     border-radius: 50%;
                    //     animation: tubelight 5s linear;
                    // }
                }

                .hero_copy_line {
                    // font-size: 4em;
                    font-size: calc(2.95em + 0.390625vw);
                    line-height: 64px;
                    margin: 0 0 16px;
                    cursor: default;
                    position: relative;
                    z-index: 2;
                    letter-spacing: 2px;

                    @include themify($themes) {
                        color: themed('textColor');
                    }
                }

                p {
                    font-family: silkaregular;
                    font-size: calc(0.5em + 0.390625vw);
                    line-height: 32px;
                    letter-spacing: 2px;
                    margin-bottom: 2em;
                    cursor: default;
                }

                .workbtn {
                    height: 100%;
                    max-height: 54px;
                    display: flex;
                    // line-height: 0;
                    position: relative;
                    transition: all 0.5s ease;
                    justify-content: center;
                    align-items: center;
                    background-color: #fcad3d;
                    border: 0;
                    border-radius: 40px;
                    // transition: all 0.3s ease-in-out;
                    padding: 1em 2em;
                    gap: 0.5em;

                    overflow: hidden;
                    font-size: 16px;
                    line-height: 21px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    width: 100%;
                    max-width: 200px;
                    transform-style: preserve-3d;
                    transition: all 0.3s ease-in-out;
                    font-family: "Bebas Neue",
                        sans-serif;
                    color: #000;
                    font-weight: 500;





                    .icon {
                        height: 2rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        span {
                            background: black;
                            border-radius: 100%;
                            padding: 0rem;
                            width: 0rem;
                            height: 0rem;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            transform: rotate(-180deg);
                            transition: all 0.5s ease;
                        }
                    }

                    &:hover {
                        .icon {
                            span {
                                transform: rotate(0deg);
                                border-radius: 100%;
                                padding: 0.6rem;
                                width: 1.9rem;
                                height: 1.9rem;
                            }
                        }
                    }
                }
            }

            .floating_text {
                display: flex;
                justify-content: space-between;
                // column-gap: 16em;
                z-index: 2;
                width: 100%;
                cursor: default;
                max-width: 62em;
                // margin-left: -14em;
                // margin-right: -6.75em;

                #child_one {

                    display: flex;
                    align-items: center;

                    .pulse {
                        position: relative;
                        width: 0.65em;
                        height: 0.65em;
                        background-color: #09cb09;
                        border-radius: 50%;
                        margin-right: 1em;

                        span {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background-color: inherit;
                            border-radius: inherit;
                            opacity: 0.8;
                            animation: pulseAnimate 4s ease-out infinite;
                            animation-delay: calc(1s * var(--i));

                            @keyframes pulseAnimate {
                                100% {
                                    opacity: 0;
                                    transform: scale(2);
                                }
                            }
                        }


                    }
                }

                p {
                    font-size: 0.80em;
                    font-family: silkaregular;
                    color: #b9b9b9;

                    #l_time {
                        font-family: silkaregular;
                    }
                }
            }
        }

    }

    .left-social-links {
        width: 40px;
        position: fixed;
        bottom: 0px;
        left: 40px;
        right: auto;
        z-index: 1;
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: calc(50% + 1vw);

        .Floating_text {
            font-family: silkaregular;
            font-size: 12px;

            img {
                width: 1vw;
                max-width: 5rem;
                transform: rotate(180deg);
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            -webkit-box-align: center;
            align-items: center;
            margin: 0px;
            padding: 0px;
            list-style: none;

            li {
                a {
                    @include themify($themes) {
                        color: themed('textColor');
                    }

                    font-size: 24px;
                    transition: 0.2s ease-in-out;

                    &:hover {
                        transform: translateY(50px);
                        transform: scale(1.5);

                        @include themify($themes) {
                            color: themed('linkColor');
                        }

                        transition: 0.2s ease-in-out;
                    }
                }
            }

            &::after {
                content: "";
                display: block;
                width: 3px;
                height: 90px;
                margin: 0px auto;

                @include themify($themes) {
                    background-color: themed('linkColor');
                }
            }
        }
    }

    .right-bar {
        width: 40px;
        position: fixed;
        top: 100%;
        left: auto;
        right: 40px;
        z-index: 1;
        opacity: 0;
        display: flex;
        opacity: 0;
        height: calc(100vh - 99px);
        flex-direction: column;
        justify-content: flex-end;



        div.right-mail-link {
            display: flex;
            flex-direction: column;
            -webkit-box-align: center;
            align-items: center;
            position: relative;

            a {
                margin: 20px auto 0px;
                padding: 10px;
                font-family: silkaregular;
                font-size: 12px;
                font-weight: 700;
                letter-spacing: 0.1em;
                -webkit-writing-mode: vertical-rl;
                writing-mode: vertical-rl;

                @include themify($themes) {
                    color: themed('textColor');
                }

                transition: 0.2s ease-in-out;

                &:hover {
                    text-decoration: none;

                    @include themify($themes) {
                        color: themed('secondaryColor');
                    }

                    transition: 0.2s ease-in-out;
                    transform: translateY(-5px);
                }

            }

            &::after {
                content: "";
                display: block;
                width: 3px;
                height: 90px;
                margin: 0px auto;

                @include themify($themes) {
                    background-color: themed('linkColor');
                }
            }
        }
    }

    #Sun {
        @include themify($themes) {
            color: themed('textColor');
        }

        z-index: 999;
        cursor: pointer;

        &:hover {
            @include themify($themes) {
                color: themed('linkColor');
            }
        }
    }

    #Moon {
        @include themify($themes) {
            color: themed('textColor');
        }

        &:hover {
            @include themify($themes) {
                color: themed('linkColor');
            }
        }

        z-index: 999;
    }

    .hidden_class {
        display: none;
        transition: 2s ease-in-out;
    }

    #scroll_mouse {
        @include themify($themes) {
            color: themed('textColor');
        }

        opacity: 0;
        position: absolute;
        bottom: -1%;
        left: 50%;
        transform: translate(-50%, 1%);
        letter-spacing: 4px;

        .new_line {
            position: absolute;
            left: 44.25%;
            top: 25%;
            animation: move 2.2s ease-in-out infinite;
        }

        @keyframes move {
            0% {
                transform: translateY(50%);
            }

            100% {
                transform: translateY(200%);
            }
        }

        .line_scroll {
            stroke: #9c9a9a;
            stroke-width: 3;
        }

        .line_scroll_overlay {
            @include themify($themes) {
                stroke: themed('textColor');
            }

            stroke-width: 7;
        }
    }


    // .scroller {
    //     // max-width: 1250px;
    // }

    .loop-container {
        padding-block: 1rem;
        font-weight: 100;
        font-size: 1vw;
        letter-spacing: 5px;
        font-weight: 600;
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
        /* transform: rotate(7deg); */
    }

    .scroller[data-animated="true"] {
        // border: 5px solid lime;
        overflow: hidden;
        mask: linear-gradient(90deg, transparent, white 5%, white 95%, transparent);
        -webkit-mask: linear-gradient(90deg, transparent, white 5%, white 95%, transparent);
    }

    .scroller[data-animated="true"] .loop-container {
        flex-wrap: nowrap;
        width: max-content;
        animation: scroll linear 40s infinite;
        list-style: none;

        &:hover {
            animation-play-state: paused;
        }
    }


    @keyframes scroll {
        to {
            transform: translate(calc(-50% - 0.5rem));
        }
    }

    .item {
        position: absolute;
    }


    .spacer {
        height: 400px;
    }

    .marquee {
        position: relative;
        background-color: #0f0f0f;
        color: #eee;
        padding: 30px 0;
        font-weight: 600;
        font-size: 20px;
        text-transform: uppercase;
        overflow: hidden;
    }

    .marquee_inner {
        display: flex;
        width: fit-content;
        flex-direction: row;
        flex: auto;
        white-space: nowrap;
    }

    .marquee_part {
        // display: flex;
        // align-items: center;
        // flex-shrink: 0;
        // padding: 0 20px;
        position: absolute;
    }

    .bg_line {
        position: absolute;
        bottom: 0px;
        width: 100%;
        z-index: -1;
    }
}


.about_section {
    // height: 100vh;
    background-color: lightblue;
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 85vw;
    border-radius: 100px;
    transform: translate(10%,-35%);

    h1 {
        font-size: calc(2.95em + 0.390625vw);
        line-height: 64px;
        margin: 0 0 16px;
        cursor: default;
        position: relative;
        z-index: 2;
        letter-spacing: 2px;
    }

    .services__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1.25em;

        .services__header {
            padding-bottom: 3.75em;
        }

        .services__item {
            padding-left: 2em;
            position: relative;

            &::before {
                position: absolute;
                width: 1px;
                height: 100%;
                background-color: rgba(17, 20, 20, .1);
                top: 0;
                z-index: 999;
            }

            span {
                display: block;
                margin-bottom: 80px;
                opacity: .1;
                font-size: 3.58em;
                line-height: 1.1;
                letter-spacing: -.02em;
            }

            h2 {
                margin-bottom: 0.5em;
                font-size: 1.59em;
                line-height: 1;
                letter-spacing: 0;
            }

            p {
                max-width: 17em;
                font-size: 1.0626em;
                line-height: 1.5;
                letter-spacing: 0;
            }
        }
    }
}

// #about-section {
//     // max-width: 900px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin: 0 auto;
//     background-color: #000;
//     height: 100vh;
//     position: relative;

//     .loop-container {
//         margin-top: 500px;
//         white-space: nowrap;
//         font-weight: 100;
//         font-size: 9vw;
//         letter-spacing: 5px;
//         /* transform: rotate(7deg); */
//     }

//     .item {
//         position: absolute;
//     }

// }

// #project-section {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin: 0 auto;
//     background-color: #000;
//     height: 100vh;
//     position: relative;
// }



// #contact-form {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin: 0 auto;
//     background-color: #000;
//     height: 100vh;
//     position: relative;
// }




@keyframes updown {
    from {
        transform: translateY(-50px);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes tubelight {
    0% {
        background: #2beb2b;
        box-shadow: none;
    }

    100% {
        background: #66ff66;
        box-shadow: 0 0 10px #66ff66 0 0 20px #66ff66 0 0 40px #66ff66 0 0 80px #66ff66 0 0 160px #66ff66;

    }
}

// JS classes

.ham-icon1.change {
    transform: rotate(-45deg) translate(0px, 5px);
    background-color: black;
    pointer-events: none;
}

.ham-icon2.change {
    transform: rotate(45deg) translate(0px, -5px);
    background-color: black;
    pointer-events: none;

}

.ham-nav-item.change {
    &:hover>.icon-div>.ham-icon1 {
        transform: rotate(-45deg) translate(0px, 5px);
    }

    &:hover>.icon-div>.ham-icon2 {
        transform: rotate(45deg) translate(0px, -5px);
    }
}

// Responsive CSS classes
@media screen and (max-width:1921px) {
    main {
        .hero-section {
            .first_hero {
                #player {
                    max-width: 768px;
                }
            }

            .hero-div {
                .copy_section {

                    max-width: 48em;

                    p {
                        line-height: 24px;
                        letter-spacing: 1px;
                    }


                }

                .floating_text {
                    max-width: 48em;
                }
            }


        }
    }
}

@media screen and (max-width:1600px) {
    main {
        .hero-section {
            .first_hero {
                #player {
                    max-width: 660px;
                }
            }

            .hero-div {
                .copy_section {

                    max-width: 42em;

                    .hero_copy_line {
                        font-size: calc(2em + 0.390625vw);
                        line-height: 44px;
                    }

                    p {
                        font-size: calc(0.45em + 0.390625vw);
                        line-height: 24px;
                    }

                    .workbtn {
                        letter-spacing: 1px;
                        max-width: 148px;
                        max-height: 44px;
                        padding: 0.5em 1em;
                        gap: 0.5em;
                        font-size: calc(0.40em + 0.390625vw);
                    }
                }

                .floating_text {
                    max-width: 42em;

                    p {
                        font-size: calc(0.40em + 0.390625vw);
                    }
                }
            }
        }
    }
}


@media screen and (max-width:1366px) {
    main {
        .hero-section {
            .first_hero {
                #player {
                    max-width: 480px;
                }
            }

            .hero-div {
                row-gap: 1em;
                margin-top: 0;

                .copy_section {
                    max-width: 30em;

                    .hero_copy_line {
                        font-size: calc(1.5em + 0.390625vw);
                        line-height: 28px;
                        margin: 0 0 8px;
                    }

                    #web_dev_tag {
                        line-height: inherit;
                        // margin-bottom: 0;
                        letter-spacing: 1px;
                    }

                    p {
                        line-height: 20px;
                        letter-spacing: inherit;
                        margin-bottom: 1em;
                    }

                    .workbtn {
                        max-width: 120px;
                        max-height: 36px;
                        gap: 0.15em;
                    }
                }

                .floating_text {
                    max-width: 30em;

                    p {
                        font-size: calc(0.3em + 0.390625vw);
                    }
                }
            }
        }
    }
}


@media (max-width:768px) {
    #left-hero {
        flex: 0 0 100% !important;
    }
}